// variables

// wrappers
$content-width: 1440px;

// breakpoints
$breakpoint-small-screen: 1124px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// colors
$primary-color: #ffffff;
$brand-color: #FA4A0C;
$main-light: #ffffff;
$secondary-light: #f6f6f6;
$main-dark: #252B42; 
$grey-text: #737373;



// typography
$display-font: 'Poppins', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$letter-spacing: 0.2px;
$letter-spacing-subHeading: 0.1px;
$display-size: 3.625rem;
$heading-size: 2.75rem;
$subHeading-size: 2.5rem;
$text-size: 1.5rem;
$alt-text-size: 1rem;

// font weight
$bold: 700;
$semiBold: 600;
$medium: 500;
