@use '../../styles/sass/abstracts/' as *;

.buttonSecondary {
  transition: all 0.3s;
  color: $primary-color;
  cursor: pointer;
  background-color: transparent;
  height: 4.25rem;
  border-radius: 30px;
  border: $primary-color 1px solid;
  min-width: 236px;
  p {
    font-weight: $bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.buttonSecondary:hover {
  background-color: $primary-color;
  color: $main-dark;
  border: none;
}

@media screen and (max-width: $breakpoint-mobile) {
  .buttonSecondary {
    color: $brand-color;
    border: $brand-color 1px solid;
  }
}