@use '../../styles/sass/abstracts/' as *;

.splashWrapper {
  color: $primary-color;
  width: 100%;
  height: 100%;
}

.splashBackground {
  min-height: 516px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/splashImg.jpg") no-repeat center;
  background-size: cover;
}

.splashContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.splashTextFlex {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  margin-bottom: 80px;
}


.splashSubHeading {
  font-size: $subHeading-size;
  font-weight: $bold;
  line-height: 57px;
}

.splashText {
  line-height: 38px;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: center;
  gap: 17px;
}

@media screen and (max-width: $breakpoint-small-screen) {
  .splashContent {
    padding: 100px 50px;
  }
}

@media screen and (max-width: $breakpoint-tablet ) {
  .splashContent {
    padding: 100px 0px;
  }

  .splashTextFlex {
    margin-bottom: 60px;
  }

  .buttonWrapper {
    gap: 20px;
  }

  .splashBackground {
    background: $main-dark;
  }

  .splashSubHeading {
    width: 100%;
    max-width: 357px;
  }

  .splashText {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 257px;
    color: #BDBDBD;
    
  }
}